@media screen and (max-width: 1400px) {
     .showcase {
          width: 90%;
          margin-top: 180px;
     }
     .selected-posts {
          width: 90%;
     }
     .side-right .fav-post ul .col a h4 {
          font-size: 16px;
     }
     .post-main .post .title {
          font-size: 14px;
     }
}

@media screen and (max-width: 1300px) {
     .showcase {
          width: 95%;
     }
     .selected-posts {
          width: 95%;
     }
     .selected-posts .min-posts {
          height: 120px;
     }
     .selected-posts .min-posts .col .content {
          font-size: 11px;
     }
     .side-right .fav-post ul .col a h4 {
          font-size: 13px;
     }
     .selected-posts .title,
     .side-right .fav-post .title,
     .side-left .hot-chats .title,
     .post-main .main-title {
          font-size: 14px;
     }
     .side-left .hot-chats .col {
          font-size: 12px;
     }
}

@media screen and (max-width: 1200px) {
     .side-right {
          width: 20%;
          margin-right: 1em;
     }
     .side-left {
          width: 20%;
          margin-left: 1em;
     }
     .contact {
          width: 50%;
     }
     .post-main {
          width: 55%;
     }
     .post-main .post .content ul {
          font-size: 10px;
          margin-top: 5px;
          margin-bottom: 5px;
     }
     .post-main .post .content p {
          font-size: 12px;
     }
}

@media screen and (max-width: 1100px) {
     #header {
          font-size: 13px;
     }
}

@media screen and (max-width: 1000px) {
     #header .main-header .right {
          display: none;
     }
     #header .main-header .left {
          display: none;
     }
     #header .main-header .hamburger-menu-icon {
          display: inline-flex;
     }
     #header .main-header .left {
          margin: 1.15em 1em;
     }
     .showcase {
          margin-top: 155px;
          margin-bottom: 30px;
     }
     .showcase .col {
          display: none;
     }
     .showcase .slider {
          display: block;
     }
     .selected-posts {
          display: none;
     }
     .side-left {
          display: none;
     }
     .contact,
     .post-main {
          width: 70%;
          float: left;
          margin: 0 1em 50px;
     }
     .side-right {
          width: 25%;
     }
     #header .main-header .site-name {
          display: inline-block;
     }
}

@media screen and (max-width: 900px) {
     .showcase {
          height: 60vh;
     }
     .side-right {
          display: none;
     }
     .contact,
     .post-main {
          width: 90%;
          float: none;
          margin: 25px auto;
     }
     footer .main-footer {
          width: 90%;
     }
}

@media screen and (max-width: 860px) {
     .showcase {
          height: 50vh;
     }
     footer .main-footer .col {
          display: block;
          width: 100%;
          text-align: center;
          height: auto;
     }
     footer .main-footer .col p {
          text-align: center;
     }
     footer .main-footer .col .search {
          width: 100%;
     }
     footer .main-footer .col .nl-icon {
          width: 10%;
     }
     footer .main-footer .col .nl {
          width: 70%;
     }
}

@media screen and (max-width: 700px) {
     .post-main .post .title {
          font-size: 12px;
     }
}

@media screen and (max-width: 600px) {
     .post-main .post .content p {
          display: none;
     }
     .post-main .pagenav {
          font-size: 12px;
     }
}

@media screen and (max-width: 550px) {
     .showcase {
          height: 40vh;
     }
     footer .main-footer .col ul li {
          width: 30%;
     }
     footer .main-footer .info p {
          font-size: 16px;
     }
     #header .main-header .hamburger-menu {
          width: 100%;
          position: relative;
     }
}

@media screen and (max-width: 450px) {
     .showcase {
          height: 35vh;
     }
     .showcase .slider .items .detail h2 {
          font-size: 12px;
     }
     footer .main-footer .info p {
          font-size: 14px;
     }
}

@media screen and (max-width: 400px) {
     footer .main-footer .info p {
          font-size: 12px;
     }
}