@media screen and (max-width: 1400px) {
     .showcase {
          width: 90%;
     }
}

@media screen and (max-width: 1300px) {
     .showcase {
          width: 95%;
     }
}

@media screen and (max-width: 1000px) {
     .showcase .col {
          display: none;
     }
     .showcase .slider {
          display: block;
     }
}

@media screen and (max-width: 900px) {
     .showcase {
          height: 60vh;
     }
}

@media screen and (max-width: 860px) {
     .showcase {
          height: 50vh;
     }
     footer .main-footer .col {
          display: block;
          width: 100%;
          text-align: center;
          height: auto;
     }
     footer .main-footer .col p {
          text-align: center;
     }
     footer .main-footer .col .search {
          width: 100%;
     }
     footer .main-footer .col .nl-icon {
          width: 10%;
     }
     footer .main-footer .col .nl {
          width: 70%;
     }
}

@media screen and (max-width: 550px) {
     .showcase {
          height: 40vh;
     }
     footer .main-footer .col ul li {
          width: 30%;
     }
     footer .main-footer .info p {
          font-size: 16px;
     }
}

@media screen and (max-width: 450px) {
     .showcase {
          height: 35vh;
     }
     .showcase .slider .items .detail h2 {
          font-size: 12px;
     }
     footer .main-footer .info p {
          font-size: 14px;
     }
}

@media screen and (max-width: 400px) {
     footer .main-footer .info p {
          font-size: 12px;
     }
}