* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html{
     scroll-behavior: smooth;
}

 ::-moz-selection {
     background: #34495E;
     color: #fdfdfd;
}

 ::selection {
     background: #34495E;
     color: #fdfdfd;
}

@font-face {
     font-family: Yekan;
     src: url('../fonts/Yekan/Yekan.eot');
     src: url('../fonts/Yekan/Yekan.eot?#iefix') format('embedded-opentype'), url('../fonts/Yekan/Yekan.woff') format('woff'), url('../fonts/Yekan/Yekan.ttf') format('truetype'), url('../fonts/Yekan/Yekan.svg#BYekan') format('svg');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: Gandom;
     src: url('../fonts/Gandom/Gandom.eot');
     src: url('../fonts/Gandom/Gandom.eot?#iefix') format('embedded-opentype'), url('../fonts/Gandom/Gandom.woff2') format('woff2'), url('../fonts/Gandom/Gandom.woff') format('woff'), url('../fonts/Gandom/Gandom.ttf') format('truetype');
     font-weight: normal;
}

@font-face {
     font-family: Primus;
     src: url("../fonts/Primus/Primus.eot");
     /* IE9*/
     src: url("../fonts/Primus/Primus.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("../fonts/Primus/Primus.woff2") format("woff2"), /* chrome、firefox */
     url("../fonts/Primus/Primus.woff") format("woff"), /* chrome、firefox */
     url("../fonts/Primus/Primus.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

body {
     direction: rtl;
     font: 14px Yekan, Verdana, tahoma, Primus, sans-serif;
     background: #EBEBEB;
}

input[readonly].readonly{
     background-color: #ffffff;
     font-size: 1em;
}

li {
     list-style: none;
}

a {
     color: #000;
     text-decoration: none;
}

a:link {
     color: #000;
}

a:visited {
     color: #000;
}

a:hover {
     color: #000;
}

a:active {
     color: #000;
}

.clear {
     clear: both;
}

nav ul li {
     display: inline-block;
}

ul,p{
     padding: 0;
     margin: 0;
}

#header{
     user-select: none;
}
.navbar-dark .navbar-nav .nav-link{
     color: white;
}
.navbar-dark .navbar-nav .nav-link:hover{
     color: #f4d03f;
}
.navbar-dark .navbar-nav .nav-link.active{
     color: #F36152;
}
.navbar-dark .navbar-nav .nav-link.active:hover{
     color: #f4d03f;
}
input[type=search]::placeholder{
     color: #f4d03f;
}
.bg-steamfa-2{
     background-color: #2f3542;
}
.bg-steamfa-2:focus{
     background-color: #2f3542;
}
.bg-steamfa-1{
     background-color: #252B37;
}
.bg-steamfa-1:focus{
     background-color: #252B37;
}
#header nav ul li span{
     width: 25px;
     font-size: 1.3rem;
     margin-left: .5rem;
     font-weight: 900;
     position: relative;
     top: 3px;
}

#header .search .search-input{
     display: block;
     width: 100%;
     background: #252B37 url('../images/search.png') 3% no-repeat;
     font: 14px Yekan, Verdana, tahoma, Primus, sans-serif;
     padding: 8px 10px 8px 35px;
     outline: none;
     color: #fdfdfd;
     border: 2px solid #252B37;
     border-radius: 5px;
     transition: 0.4s;
}
#header .search .search-input::placeholder {
     color: #F4D03F;
}
#header .search .search-input:focus {
     border: 2px solid #27AE60;
}

.showcase {
     display: block;
     width: 80%;
     height: 550px;
     margin: 50px auto 20px;
     border-radius: 5px;
     border: 5px solid #2f3542;
     overflow: hidden;
     transition: 0.4s;
}

.showcase .slider {
     display: none;
     position: relative;
     width: 500%;
     height: 100%;
     margin: 0 0 0 -400%;
     animation-name: slider;
     animation-duration: 25s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     animation-play-state: running;
}

@keyframes slider {
     /* 0 */
     0% {
          left: 0;
     }
     /* 1 */
     12% {
          left: 0;
     }
     /* 2 */
     23% {
          left: 100%;
     }
     /* 3 */
     34% {
          left: 100%;
     }
     /* 4 */
     45% {
          left: 200%;
     }
     /* 5 */
     56% {
          left: 200%;
     }
     /* 6 */
     67% {
          left: 300%;
     }
     /* 7 */
     78% {
          left: 300%;
     }
     /* 8 */
     89% {
          left: 400%;
     }
     /* 9 */
     100% {
          left: 400%;
     }
}

.showcase .slider .items {
     display: block;
     float: right;
     width: 20%;
     height: 100%;
     position: relative;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     overflow: hidden;
}

.showcase .slider .items .detail {
     width: 100%;
     padding: 10px;
     position: absolute;
     background: transparent;
     bottom: 0;
}

.showcase .slider .items .detail h2 {
     font-size: 14px;
     color: #FDFDFD;
}

.showcase .col {
     display: inline-block;
     height: 100%;
}

.showcase .right {
     float: right;
     width: 25%;
}

.showcase .mid {
     width: 50%;
}

.showcase .left {
     float: left;
     width: 25%;
}

.showcase .col .items {
     display: block;
     width: 100%;
     position: relative;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     cursor: pointer;
}

.showcase .col .small {
     height: 50%;
}

.showcase .col .large {
     height: 100%;
}

.showcase .col .items .layer {
     width: 100%;
     height: 100%;
     transition: .35s all ease-in-out;
     background: rgba(0, 0, 0, .4);
}

.showcase .col .items:hover>.layer {
     background: rgba(0, 0, 0, 0);
}

.showcase .col .items .detail {
     width: 100%;
     padding: 10px;
     position: absolute;
     background: transparent;
     bottom: 0;
}

.showcase .col .items .detail h2 {
     font-size: 14px;
     color: #FDFDFD;
}

.home-alerts{
     display: block;
     width: 80%;
     margin: 20px auto;
}

footer {
     width: 100%;
     position: relative;
     background: #2f3542;
     margin-top: 50px;
     transition: 0.4s;
     user-select: none;
}

footer .main-footer {
     width: 80%;
     color: #fdfdfd;
     margin: 0 auto;
     position: relative;
     text-align: center;
     transition: 0.4s;
}

footer .main-footer .col {
     display: inline-block;
     width: 33%;
     height: 250px;
     padding: 1%;
     vertical-align: top;
     transition: 0.4s;
}

footer .main-footer .col a {
     color: #fdfdfd;
}

footer .main-footer .col h4 {
     font-size: 20px;
     font-weight: bold;
     padding: 10px;
}

footer .main-footer .col .search {
     background: #252B37 url(../images/search.png) 3% no-repeat;
     font: 14px Yekan, Verdana, tahoma, Primus, sans-serif;
     padding: 8px 10px 8px 35px;
     outline: none;
     color: #fdfdfd;
     border: 2px solid #252B37;
     border-radius: 5px;
     transition: 0.4s;
}

footer .main-footer .col .search::placeholder {
     color: #F4D03F;
}

footer .main-footer .col .search:focus {
     border-color: #27AE60;
}

footer .main-footer .col p {
     text-align: justify;
}

footer .main-footer .col ul {
     margin-top: 1em;
}

footer .main-footer .col ul li {
     display: inline-block;
     width: 25%;
     background: #252B37;
     margin: 2px;
     border: 2px solid #252B37;
     border-radius: 1em;
     transition: 0.4s;
}

footer .main-footer .col ul li a {
     display: block;
     padding: 12px 0 8px 0;
}

footer .main-footer .col ul li a i {
     font-size: 25px;
}

footer .main-footer .col ul li:hover {
     border-color: #27AE60;
}

footer .main-footer .col .nl-icon {
     display: inline-block;
     background: #252B37;
     width: 15%;
     margin-left: -4px;
     padding: 10px 8px 6px 8px;
     border: 2px solid #252B37;
     border-left: none;
     border-radius: 0 5px 5px 0;
     transition: 0.4s;
     vertical-align: top;
}

footer .main-footer .col .nl-icon i {
     font-size: 20px;
     color: #27AE60;
}

footer .main-footer .col .nl {
     display: inline-block;
     background: #252B37;
     width: 65%;
     font: 14px Yekan, Verdana, tahoma, Primus, sans-serif;
     padding: 8px 10px;
     outline: none;
     color: #fdfdfd;
     border: 2px solid #252B37;
     border-right: none;
     border-left: none;
     border-radius: 0;
     transition: 0.4s;
     vertical-align: top;
}

footer .main-footer .col .nl::placeholder {
     color: #F4D03F;
}

footer .main-footer .col .nl-btn {
     display: inline-block;
     background: #27AE60;
     width: 20%;
     padding: 8px;
     margin-right: -4px;
     border: 2px solid #252B37;
     border-right: none;
     border-radius: 5px 0 0 5px;
     transition: 0.4s;
     vertical-align: top;
}

footer .main-footer .col .focused {
     border-color: #27AE60;
}

footer .main-footer .info {
     width: 100%;
     display: inline-block;
     background: #252B37;
     margin-top: 40px;
     padding: 15px 50px;
     border-top-right-radius: 1em;
     border-top-left-radius: 1em;
}

footer .main-footer .info p {
     direction: ltr;
     font: 20px Primus, Verdana, tahoma, sans-serif;
     position: relative;
     text-align: center;
     color: #fdfdfd;
     top: 65%;
     user-select: none;
}

.contact {
     width: 55%;
     margin: 50px auto;
     transition: 0.4s;
}

.about-form {
     width: 80%;
     margin: 50px auto;
     transition: 0.4s;
}

.contact .contact-title,
.about-form .about-title {
     text-align: right;
}

.about-form .about-title,
.contact .form-title {
     display: inline-block;
     font-size: 20px;
     margin: 30px 0;
     border-bottom: 2px solid red;
}

.contact textarea:focus,
.contact input:focus {
     outline: none;
}

.contact input[type=text],
.contact input[type=email],
.contact textarea {
     display: inline-block;
     width: 100%;
     padding: 10px 20px;
     border: 2px solid #85929E;
     border-radius: 5px;
     margin-top: 5px;
     margin-bottom: 15px;
     transition: 0.4s;
}

.contact input[type=text]:hover,
.contact input[type=email]:hover,
.contact textarea:hover {
     border-color: #34495E;
}

.contact input[type=text]:focus,
.contact input[type=email]:focus,
.contact textarea:focus {
     border-color: red;
}

.contact input[type=text],
.contact input[type=email],
.contact textarea {
     font: 15px Yekan, Verdana, tahoma, Primus, sans-serif;
}

.contact textarea {
     resize: vertical;
}

.contact .form-lbl {
     font: 20px Yekan, Verdana, tahoma, Primus, sans-serif;
}

.contact input[type=submit],
.contact input[type=reset] {
     outline: none;
     padding: 10px 20px;
     background: #2f3542;
     color: #F7DC6F;
     font: 15px Yekan, Verdana, tahoma, Primus, sans-serif;
     border: 2px solid #85929E;
     border-radius: 5px;
     transition: 0.4s;
     margin: 0 1%;
}

.contact input[type=submit]:hover,
.contact input[type=reset]:hover {
     border-color: #E74C3C;
}

.panel-sidebar{
     position: fixed;
     top: 0;
     width: 250px;
     height: 100%;
     background-color: #2f3542;
     z-index: 101;
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}
.panel-sidebar nav{
     margin-top: 1rem;
}
.panel-sidebar nav ul{
     display: flex;
     flex-wrap: wrap;
     padding-right: .5rem;
     padding-left: .5rem;
}
.panel-sidebar nav ul li.items{
     display: list-item;
     margin-bottom: .2rem;
     border-radius: .25rem;
}
.panel-sidebar nav ul li.items p{
     display: inline-block;
}
.panel-sidebar nav ul li.items a{
     width: calc(250px - .5rem * 2);
     display: block;
     border-radius: .25rem;
     font-size: 1rem;
     padding: 10px 15px;
     cursor: pointer;
     color: #fff;
}
.panel-sidebar nav ul li.items a:hover{
     background-color: #4D6278;
     color: #F7DC6F;
     transition: 0.5s;
}
.panel-sidebar nav ul li.close a:hover,
#header nav ul li.close a:hover{
     color: #F1948A;
}
.panel-sidebar nav ul li.active a:hover{
     background: #0A58CA;
     color: #ffffff;
     transition: 0.5s;
}
.panel-sidebar nav ul li.active a{
     background: #0d6efd;
}
.panel-sidebar nav ul li.active ul li.active a{
     background: #ffffff !important;
     color: #2f3542;
}
.panel-sidebar nav ul li.active ul li.active a:hover{
     background: #d7d7d7 !important;
     color: #252B37 !important;
     transition: 0.5s !important;
}
.panel-sidebar nav ul li.active ul li.items a{
     background: #2f3542;
}
.panel-sidebar nav ul li.active ul li.items:hover a{
     background-color: #4D6278;
     color: #F7DC6F;
     transition: 0.5s;
}
.panel-sidebar nav ul li.items a i{
     width: 30px;
     font-size: 1.3rem;
     margin-left: .6rem;
     margin-right: .05rem;
     font-weight: 900;
     position: relative;
     top: 3px;
}
.panel-sidebar nav ul li.items a i.icon-more{
     float: left;
     width: auto;
     margin: .5rem;
     top: 0;
     transition: .5s;
}
.panel-sidebar nav ul li.items a i.down{
     transform: rotate(+90deg);
}
.panel-sidebar nav ul li.items ul.more{
     display: none;
}
.panel-sidebar nav ul li.items ul.show{
     display: flex;
     padding-left: 0;
     padding-right: 0;
     margin-top: .2rem;
}
.panel-sidebar nav ul li.items ul li{
     margin-bottom: .2rem;
}
.panel{
     border-radius: 1em;
     margin: 100px 300px 50px 50px;
     box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.25);
}
.panel header{
     display: inline-block;
     margin: 5%;
     padding: 10px 25px;
}
.panel main{
     padding: 10px 50px 50px;
}
.dir-ltr{
     direction: ltr;
}
.dir-rtl{
     direction: rtl;
}
.brand-link{
     display: block;
     font-size: 1.25rem;
     line-height: 1.5;
     padding: .8rem .5rem;
     transition: width .3s ease-in-out;
     white-space: nowrap;
     border-bottom: 1px solid #4b545c;
}
.panel-sidebar a.brand-link{
     color: rgba(255,255,255,.8);
}
.panel-sidebar .brand-link:hover{
     color: #ffffff;
}
.panel-sidebar img{
     border-radius: 50%;
}
.panel-sidebar .brand-link .brand-img{
     float: right;
     height: 2.5rem;
     width: 2.5rem;
     line-height: .8;
     margin-right: .8rem;
     margin-left: .5rem;
     margin-top: -5px;
     max-height: 40px;
}
.panel-sidebar .user-panel{
     padding: .5rem;
     border-bottom: 1px solid #4b545c;
}
.panel-sidebar .user-panel .user-img{
     display: block;
     width: 100px;
     height: 100px;
     margin: 20px auto 10px;
     box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}
.panel-sidebar .user-panel .user-info{
     display: block;
     text-align: center;
     color: #c2c7d0;
     font-size: 20px;
}
.panel-sidebar .user-panel .user-info:hover{
     color: #ffffff;
}

body.sign{
     display: flex;
     align-items: center;
     height: 100vh;
     padding: 40px 0;
     background-color: #f5f5f5;
}
.form-sign-in{
     width: 100%;
     max-width: 400px;
     padding: 15px;
     margin: auto;
}
.form-sign-up{
     width: 100%;
     max-width: 600px;
     padding: 15px;
     margin: auto;
}