@font-face {
    font-family: Yekan;
    src: url('../fonts/Yekan/Yekan.eot');
    src: url('../fonts/Yekan/Yekan.eot?#iefix') format('embedded-opentype'), url('../fonts/Yekan/Yekan.woff') format('woff'), url('../fonts/Yekan/Yekan.ttf') format('truetype'), url('../fonts/Yekan/Yekan.svg#BYekan') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Gandom;
    src: url('../fonts/Gandom/Gandom.eot');
    src: url('../fonts/Gandom/Gandom.eot?#iefix') format('embedded-opentype'), url('../fonts/Gandom/Gandom.woff2') format('woff2'), url('../fonts/Gandom/Gandom.woff') format('woff'), url('../fonts/Gandom/Gandom.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Primus;
    src: url("../fonts/Primus/Primus.eot");
    src: url("../fonts/Primus/Primus.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Primus/Primus.woff2") format("woff2"),
    url("../fonts/Primus/Primus.woff") format("woff"),
    url("../fonts/Primus/Primus.ttf") format("truetype");
}
body {
    direction: rtl;
    font: 14px Yekan, Verdana, tahoma, Primus, sans-serif;
    background: #EBEBEB;
}
.bg-steamfa1{
    background: #252B37;
}
.bg-steamfa2{
    background: #2f3542;
}